pkgbase = anime-cli
	pkgdesc = Command-line interface for searching and streaming anime via Consumet API
	pkgver = 0.3.3
	pkgrel = 1
	url = https://github.com/AtelierMizumi/anime-cli
	arch = x86_64
	license = MIT
	makedepends = gcc
	makedepends = make
	depends = curl
	depends = json-c
	depends = ncurses
	depends = mpv
	optdepends = ffmpeg: for downloading anime episodes
	source = git+https://github.com/AtelierMizumi/anime-cli.git#tag=v02.0
	sha256sums = SKIP

pkgname = anime-cli
